<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
        .login-form {
            width: 400px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <h1 class="text-center">
        Game settings
    </h1>
    <div class="jumbotron login-form">
        <form method=post action="/game-settings">
        <div class="form-group">
            Number of rounds: <input class="form-control" type=number name=roundsCount min="1" max="10" value="5">
        </div>
        <div class="form-group">
            Zoom level: <input class="form-control" type=number name=zoom min="0" max="18" value="9">
        </div>
        <div class="form-group">
            Time limit [s]: <input class="form-control" type=number name=timeLimit min="5" max="3600" value="30">
        </div>
        <div class="form-check">
            <input class="form-check-input" type=checkbox name=labelsEnabled>
            <label class="form-check-label" for="labelsEnabled">Labels enabled</label>
        </div>
        <div class="form-group">
           <input class="btn btn-primary btn-block"  value="Start" type=submit>
        </div>
    </form>
    <label>{{message or ''}}</label>
    </div>
</body>

</html>